<section class="w-full">
    <h1 class="text-center my-4 text-4xl font-bold">Recipes</h1>
    <ul class="flex flex-col gap-4 items-center">
        <%= render partial: 'shared/recipe', collection: @recipes, as: :recipe %>
    </ul>
    <div class="w-full flex justify-center mt-6"> 
        <%= link_to "New recipe", new_recipe_path, class: "text-green-800 shadow-lg p-2 border-solid border-green-600 bg-green-400 border-2 rounded"  %>
    </div>
</section>