<nav>
  <div>
    <span><%= link_to 'Home', root_path %></span>
    <ul>
      <li><%= link_to 'Recipes', recipes_path %></li>
      <li><%= link_to 'Foods', foods_path %></li>
      <li><%= link_to 'Public Recipes', public_recipes_path %></li>
    </ul>
  </div>
</nav>