<div> 
  <h1 class="mt-10 p">Foods</h1>
  <%= link_to "New food", new_food_path %>
</div>

  <section>
    <table>
      <thead>
          <tr>
            <th>Food</th>
            <th>Measurement Unit</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        <%= render partial: 'shared/table', collection: @foods, as: :item %>
      </tbody>
    </table>
  </section>
</div>